@media screen and (max-width: 1024px) {
  header .main-banner {
    max-height: 500px;
    overflow: hidden;
  }
  header .wrapper .header-bar-container {
    display: block;
  }
  header .wrapper .header-bar-container .contact-left {
    width: 100%;
  }
  header .wrapper .header-bar-container .contact-left .contact {
    display: block;
    width: 100%;
  }
  header .wrapper .header-bar-container .contact-left .contact span {
    display: block;
    width: 100%;
    margin-bottom: 8px;
    text-align: left;
  }
  header .wrapper .header-bar-container .contact-left .contact span .fa-mobile-alt {
    margin-left: 3px;
  }
  header .wrapper .header-bar-container .contact-left .contact span .fa-envelope {
    margin-left: 2px;
  }
  header .wrapper .header-bar-container .social-media {
    width: 100%;
    display: block;
    text-align: left;
  }
  .pop-up .pop-up-card {
    width: 80%;
    margin: 0 auto;
  }
  .pop-up .pop-up-card .pop-up-text {
    padding: 5%;
  }
  .pop-up .pop-up-card .pop-up-text h3 {
    font-size: 20px;
    margin-bottom: 16px;
  }
  .pop-up .pop-up-card .pop-up-text p {
    font-size: 14px;
    text-align: auto;
  }
  .reservation-pop-up .reservation-container-card {
    width: 98%;
  }
  .reservation-pop-up .reservation-container-card .rest-info .right-container {
    margin-left: 2%;
  }
  .reservation-pop-up .reservation-container-card .rest-info .right-container h2 {
    font-size: 24px;
  }
  main .parallax-img-one, main .parallax-img-two, main .parallax-img-three, main .parallax-img-four, main .parallax-img-five {
    height: 600px;
  }
  main .wrapper .gallery {
    margin-top: 20px;
  }
  main .wrapper .gallery .gallery-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  main .wrapper .gallery .gallery-container .gallery-img-container {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 46%;
            flex: 1 1 46%;
    margin: 2%;
  }
  main .wrapper .gallery .gallery-container .gallery-img-container img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  main .wrapper .about-us .about-right .about-fields {
    display: block;
    width: 100%;
    text-align: center;
  }
  main .wrapper .about-us .about-right .about-fields .text-container {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  main .wrapper .about-us .about-right .about-fields .text-container:last-child {
    margin-bottom: 0;
  }
  footer .wrapper .footer-container .footer-logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 15%;
            flex: 1 1 15%;
  }
  footer .wrapper .footer-container .footer-adress-icon {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 25%;
            flex: 1 1 25%;
    padding: 0 15px 0 30px;
  }
  footer .wrapper .footer-container .footer-contact {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 25%;
            flex: 1 1 25%;
  }
  footer .wrapper .footer-container .footer-tripadvisor {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 35%;
            flex: 1 1 35%;
  }
  footer .wrapper .footer-container .footer-tripadvisor .inner-tripadvisor-review .button-tripadvisor {
    font-size: 14px;
  }
  .scroll {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  header .main-banner {
    background: url(/images/3.jpeg) no-repeat;
    background-size: cover;
    max-height: 480px;
    overflow: hidden;
  }
  header .wrapper .header-bar-container {
    display: block;
  }
  header .wrapper .header-bar-container .contact-left {
    width: 100%;
  }
  header .wrapper .header-bar-container .contact-left .contact {
    display: block;
    width: 100%;
  }
  header .wrapper .header-bar-container .contact-left .contact span {
    display: block;
    width: 100%;
    margin-bottom: 8px;
    text-align: left;
  }
  header .wrapper .header-bar-container .contact-left .contact span .fa-mobile-alt {
    margin-left: 3px;
  }
  header .wrapper .header-bar-container .contact-left .contact span .fa-envelope {
    margin-left: 2px;
  }
  header .wrapper .header-bar-container .social-media {
    width: 100%;
    display: block;
    text-align: left;
  }
  header .main-banner .outer-menu-container-sticky {
    display: none;
  }
  header .main-banner .outer-menu-container {
    padding-bottom: 0;
  }
  header .main-banner .outer-menu-container .wrapper {
    margin: 0;
    width: 100%;
  }
  header .main-banner .outer-menu-container .wrapper .nav-container-home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header .main-banner .outer-menu-container .wrapper .nav-container-home .nav-logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 60%;
            flex: 1 1 60%;
    margin: 0;
    padding: 0 0 2% 10%;
    background-color: rgba(0, 0, 0, 0.9);
  }
  header .main-banner .outer-menu-container .wrapper .nav-container-home .burger-container {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 30%;
            flex: 1 1 30%;
    text-align: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .main-banner .outer-menu-container .wrapper .nav-container-home .active-burger {
    display: none;
  }
  header .main-banner .outer-menu-container .wrapper .nav-container-home .nav-home {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 90%;
            flex: 1 1 90%;
    margin: 0 auto;
    font-weight: 600;
  }
  header .main-banner .outer-menu-container .wrapper .nav-container-home .nav-home ul.nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
  }
  header .main-banner .outer-menu-container .wrapper .nav-container-home .nav-home ul.nav li {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 6px 0;
    background-color: #c59d5f;
    border-bottom: 0.5px #fff solid;
  }
  header .main-banner .outer-menu-container .wrapper .nav-container-home .nav-home ul.nav li:last-child {
    border-bottom: none;
  }
  header .main-banner .outer-menu-container .wrapper .nav-container-home .nav-home ul.nav li ul.sub-nav li {
    padding: 6px 0;
    background-color: #c59d5f;
    border-bottom: 0.5px #fff solid;
  }
  header .main-banner .outer-menu-container .wrapper .nav-container-home .nav-home ul.nav li ul.sub-nav li:first-child {
    border-top: 0.5px #fff solid;
  }
  header .main-banner .outer-menu-container .wrapper .nav-container-home .nav-home ul.nav li ul.sub-nav li:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
  header .main-banner .outer-menu-container .wrapper .nav-container-home .nav-home ul.nav li ul.sub-nav li a {
    color: #525252;
  }
  .pop-up .pop-up-card {
    width: 80%;
    margin: 0 auto;
  }
  .pop-up .pop-up-card .pop-up-text {
    padding: 5%;
  }
  .pop-up .pop-up-card .pop-up-text h3 {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 14px;
  }
  .pop-up .pop-up-card .pop-up-text p {
    font-size: 10px;
    font-weight: 400;
    text-align: auto;
    line-height: 12px;
    margin-bottom: 8px;
  }
  .pop-up .pop-up-card .pop-up-text span {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
  .reservation-pop-up .reservation-container-card .rest-info .right-container {
    margin-left: 2%;
  }
  .reservation-pop-up .reservation-container-card .rest-info .right-container h2 {
    font-size: 24px;
  }
  main .parallax-img-one, main .parallax-img-two, main .parallax-img-three, main .parallax-img-four, main .parallax-img-five {
    height: 400px;
  }
  main .parallax-img-one .ptext .border, main .parallax-img-two .ptext .border, main .parallax-img-three .ptext .border, main .parallax-img-four .ptext .border, main .parallax-img-five .ptext .border {
    padding: 14px;
    font-size: 28px;
  }
  main .wrapper .gallery {
    margin-top: 20px;
  }
  main .wrapper .gallery .gallery-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  main .wrapper .gallery .gallery-container .gallery-img-container {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 48%;
            flex: 1 1 48%;
    margin: 1%;
  }
  main .wrapper .gallery .gallery-container .gallery-img-container img:hover {
    -webkit-transform: none;
            transform: none;
  }
  main .wrapper .flipping-cards .cards {
    width: 90%;
  }
  main .wrapper .flipping-cards .cards li .front p {
    font-size: 14px;
  }
  main .wrapper .flipping-cards .cards li .front span {
    padding-top: 4px;
    font-size: 22px;
    font-weight: 500;
  }
  main .wrapper .about-us .about-left {
    display: none;
  }
  main .wrapper .about-us .about-right h2 {
    font-size: 24px;
    color: #c59d5f;
  }
  main .wrapper .about-us .about-right .about-fields {
    display: block;
    width: 100%;
    text-align: center;
  }
  main .wrapper .about-us .about-right .about-fields .text-container {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  main .wrapper .about-us .about-right .about-fields .text-container:last-child {
    margin-bottom: 0;
  }
  main .wrapper .appetizers-menu h3, main .wrapper .main-menu h3, main .wrapper .desserts-menu h3 {
    width: 75%;
    font-size: 26px;
  }
  main .wrapper .appetizers-menu .menu-tabs-appetizer, main .wrapper .appetizers-menu .menu-tabs-main, main .wrapper .appetizers-menu .menu-tabs-dessert, main .wrapper .main-menu .menu-tabs-appetizer, main .wrapper .main-menu .menu-tabs-main, main .wrapper .main-menu .menu-tabs-dessert, main .wrapper .desserts-menu .menu-tabs-appetizer, main .wrapper .desserts-menu .menu-tabs-main, main .wrapper .desserts-menu .menu-tabs-dessert {
    width: 96%;
    margin: 5% 2%;
  }
  main .wrapper .appetizers-menu .menu-tabs-appetizer .tabs, main .wrapper .appetizers-menu .menu-tabs-main .tabs, main .wrapper .appetizers-menu .menu-tabs-dessert .tabs, main .wrapper .main-menu .menu-tabs-appetizer .tabs, main .wrapper .main-menu .menu-tabs-main .tabs, main .wrapper .main-menu .menu-tabs-dessert .tabs, main .wrapper .desserts-menu .menu-tabs-appetizer .tabs, main .wrapper .desserts-menu .menu-tabs-main .tabs, main .wrapper .desserts-menu .menu-tabs-dessert .tabs {
    width: 98%;
    margin: 1%;
  }
  main .wrapper .appetizers-menu .menu-tabs-appetizer .tabs .trigger, main .wrapper .appetizers-menu .menu-tabs-main .tabs .trigger, main .wrapper .appetizers-menu .menu-tabs-dessert .tabs .trigger, main .wrapper .main-menu .menu-tabs-appetizer .tabs .trigger, main .wrapper .main-menu .menu-tabs-main .tabs .trigger, main .wrapper .main-menu .menu-tabs-dessert .tabs .trigger, main .wrapper .desserts-menu .menu-tabs-appetizer .tabs .trigger, main .wrapper .desserts-menu .menu-tabs-main .tabs .trigger, main .wrapper .desserts-menu .menu-tabs-dessert .tabs .trigger {
    font-size: 12px;
    padding: 3% 0;
  }
  main .wrapper .appetizers-menu #carte-menu.active, main .wrapper .appetizers-menu #carte-menu-vege.active, main .wrapper .main-menu #carte-menu.active, main .wrapper .main-menu #carte-menu-vege.active, main .wrapper .desserts-menu #carte-menu.active, main .wrapper .desserts-menu #carte-menu-vege.active {
    width: 96%;
    margin: 0 auto;
  }
  main .wrapper .appetizers-menu #carte-menu.active ul, main .wrapper .appetizers-menu #carte-menu-vege.active ul, main .wrapper .main-menu #carte-menu.active ul, main .wrapper .main-menu #carte-menu-vege.active ul, main .wrapper .desserts-menu #carte-menu.active ul, main .wrapper .desserts-menu #carte-menu-vege.active ul {
    width: 90%;
    margin: 0 auto;
  }
  main .wrapper .events h2 {
    font-size: 24px;
  }
  main .wrapper .events .responsive-gallery .gallery-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 48%;
            flex: 1 1 48%;
    padding: 1%;
  }
  main .wrapper .contact {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  main .wrapper .contact .contact-flex-left {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 96%;
            flex: 1 1 96%;
    margin: 0 2%;
  }
  main .wrapper .contact .contact-flex-left h3 {
    font-size: 24px;
  }
  main .wrapper .contact .contact-flex-left .contact-card {
    margin: 2%;
  }
  main .wrapper .contact .contact-flex-left .booking-btn {
    margin-top: 5%;
  }
  main .wrapper .contact .contact-flex-right {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 96%;
            flex: 1 1 96%;
    margin: 0 2%;
  }
  footer {
    padding: 5% 0;
  }
  footer .wrapper {
    width: 96%;
    margin: 0 auto;
  }
  footer .wrapper .footer-container {
    display: block;
    width: 98%;
    margin-bottom: 1%;
  }
  footer .wrapper .footer-container .footer-logo {
    display: block;
    width: 120px;
    height: 120px;
    background-size: 101%;
    background-position: left;
  }
  footer .wrapper .footer-container .footer-adress-icon {
    width: 100%;
    padding: 0;
    margin-bottom: 1%;
  }
  footer .wrapper .footer-container .footer-adress-icon .icon-text-container {
    position: relative;
  }
  footer .wrapper .footer-container .footer-adress-icon .icon-text-container p {
    padding-left: 0;
  }
  footer .wrapper .footer-container .footer-adress-icon .icon-text-container .footer-icon {
    position: absolute;
    left: 2px;
  }
  footer .wrapper .footer-container .footer-contact {
    width: 100%;
    padding: 0;
    margin-bottom: 1%;
  }
  footer .wrapper .footer-container .footer-contact .icon-text-container {
    position: relative;
  }
  footer .wrapper .footer-container .footer-contact .icon-text-container p {
    padding-left: 0;
  }
  footer .wrapper .footer-container .footer-contact .icon-text-container .footer-icon {
    position: absolute;
  }
  footer .wrapper .footer-container .footer-contact .icon-text-container .footer-icon-email {
    position: absolute;
  }
  footer .wrapper .footer-container .footer-tripadvisor {
    display: block;
    width: 40%;
    padding: 0;
  }
  footer .wrapper .footer-container .footer-tripadvisor .inner-tripadvisor-review {
    width: 100%;
    height: auto;
  }
  footer .wrapper .footer-container .footer-tripadvisor .inner-tripadvisor-review p {
    font-size: 12px;
  }
  footer .wrapper .footer-container .footer-tripadvisor .inner-tripadvisor-review .button-tripadvisor {
    font-size: 10px;
  }
  .scroll {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  header .main-banner {
    background: url(/images/3.jpeg) no-repeat;
    background-size: cover;
    max-height: 300px;
    overflow: hidden;
  }
  .pop-up .pop-up-card {
    width: 80%;
    margin: 0 auto;
  }
  .pop-up .pop-up-card .pop-up-text {
    padding: 5%;
  }
  .pop-up .pop-up-card .pop-up-text h3 {
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    margin-bottom: 8px;
  }
  .pop-up .pop-up-card .pop-up-text p {
    font-size: 8px;
    font-weight: 400;
    text-align: auto;
    line-height: 10px;
    margin-bottom: 6px;
  }
  .pop-up .pop-up-card .pop-up-text span {
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
  }
  .reservation-pop-up .reservation-container-card .form-container {
    width: 90%;
    padding: 3%;
  }
  .reservation-pop-up .reservation-container-card .rest-info {
    width: 90%;
  }
  .reservation-pop-up .reservation-container-card .rest-info .right-container {
    margin-left: 1%;
  }
  .reservation-pop-up .reservation-container-card .rest-info .right-container h2 {
    font-size: 18px;
  }
  main .parallax-img-one, main .parallax-img-two, main .parallax-img-three, main .parallax-img-four, main .parallax-img-five {
    height: 300px;
  }
  main .parallax-img-one .ptext .border, main .parallax-img-two .ptext .border, main .parallax-img-three .ptext .border, main .parallax-img-four .ptext .border, main .parallax-img-five .ptext .border {
    padding: 10px;
    font-size: 22px;
  }
  main .wrapper .gallery {
    margin-top: 20px;
  }
  main .wrapper .gallery .gallery-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  main .wrapper .gallery .gallery-container .gallery-img-container {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 48%;
            flex: 1 1 48%;
    margin: 1%;
  }
  main .wrapper .gallery .gallery-container .gallery-img-container img:hover {
    -webkit-transform: none;
            transform: none;
  }
  main .wrapper .flipping-cards .cards {
    width: 90%;
  }
  main .wrapper .flipping-cards .cards li .front p {
    font-size: 10px;
  }
  main .wrapper .flipping-cards .cards li .front span {
    padding-top: 4px;
    font-size: 16px;
    font-weight: 500;
  }
  main .wrapper .about-us .about-left {
    display: none;
  }
  main .wrapper .about-us .about-right h2 {
    font-size: 24px;
    color: #c59d5f;
  }
  main .wrapper .about-us .about-right .about-fields {
    display: block;
    width: 100%;
    text-align: center;
  }
  main .wrapper .about-us .about-right .about-fields .text-container {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  main .wrapper .about-us .about-right .about-fields .text-container:last-child {
    margin-bottom: 0;
  }
  main .wrapper .appetizers-menu h3, main .wrapper .main-menu h3, main .wrapper .desserts-menu h3 {
    width: 90%;
    font-size: 22px;
  }
  main .wrapper .appetizers-menu .menu-tabs-appetizer, main .wrapper .appetizers-menu .menu-tabs-main, main .wrapper .appetizers-menu .menu-tabs-dessert, main .wrapper .main-menu .menu-tabs-appetizer, main .wrapper .main-menu .menu-tabs-main, main .wrapper .main-menu .menu-tabs-dessert, main .wrapper .desserts-menu .menu-tabs-appetizer, main .wrapper .desserts-menu .menu-tabs-main, main .wrapper .desserts-menu .menu-tabs-dessert {
    width: 96%;
    margin: 5% 2%;
  }
  main .wrapper .appetizers-menu .menu-tabs-appetizer .tabs, main .wrapper .appetizers-menu .menu-tabs-main .tabs, main .wrapper .appetizers-menu .menu-tabs-dessert .tabs, main .wrapper .main-menu .menu-tabs-appetizer .tabs, main .wrapper .main-menu .menu-tabs-main .tabs, main .wrapper .main-menu .menu-tabs-dessert .tabs, main .wrapper .desserts-menu .menu-tabs-appetizer .tabs, main .wrapper .desserts-menu .menu-tabs-main .tabs, main .wrapper .desserts-menu .menu-tabs-dessert .tabs {
    width: 98%;
    margin: 1%;
  }
  main .wrapper .appetizers-menu .menu-tabs-appetizer .tabs .trigger, main .wrapper .appetizers-menu .menu-tabs-main .tabs .trigger, main .wrapper .appetizers-menu .menu-tabs-dessert .tabs .trigger, main .wrapper .main-menu .menu-tabs-appetizer .tabs .trigger, main .wrapper .main-menu .menu-tabs-main .tabs .trigger, main .wrapper .main-menu .menu-tabs-dessert .tabs .trigger, main .wrapper .desserts-menu .menu-tabs-appetizer .tabs .trigger, main .wrapper .desserts-menu .menu-tabs-main .tabs .trigger, main .wrapper .desserts-menu .menu-tabs-dessert .tabs .trigger {
    font-size: 10px;
    padding: 3% 0;
  }
  main .wrapper .appetizers-menu #carte-menu.active, main .wrapper .appetizers-menu #carte-menu-vege.active, main .wrapper .main-menu #carte-menu.active, main .wrapper .main-menu #carte-menu-vege.active, main .wrapper .desserts-menu #carte-menu.active, main .wrapper .desserts-menu #carte-menu-vege.active {
    width: 96%;
    margin: 0 auto;
  }
  main .wrapper .appetizers-menu #carte-menu.active ul, main .wrapper .appetizers-menu #carte-menu-vege.active ul, main .wrapper .main-menu #carte-menu.active ul, main .wrapper .main-menu #carte-menu-vege.active ul, main .wrapper .desserts-menu #carte-menu.active ul, main .wrapper .desserts-menu #carte-menu-vege.active ul {
    width: 90%;
    margin: 0 auto;
  }
  main .wrapper .events h2 {
    font-size: 22px;
  }
  main .wrapper .events .responsive-gallery .gallery-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 98%;
            flex: 1 1 98%;
    padding: 1%;
  }
  main .wrapper .contact {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  main .wrapper .contact .contact-flex-left {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 96%;
            flex: 1 1 96%;
    margin: 0 2%;
  }
  main .wrapper .contact .contact-flex-left h3 {
    font-size: 22px;
  }
  main .wrapper .contact .contact-flex-left .contact-card {
    margin: 2%;
  }
  main .wrapper .contact .contact-flex-left .booking-btn {
    margin-top: 5%;
  }
  main .wrapper .contact .contact-flex-right {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  footer {
    padding: 5% 0;
  }
  footer .wrapper {
    width: 96%;
    margin: 0 auto;
  }
  footer .wrapper .footer-container {
    display: block;
    width: 98%;
    margin-bottom: 1%;
  }
  footer .wrapper .footer-container .footer-logo {
    display: block;
    width: 120px;
    height: 120px;
    background-size: 101%;
    background-position: left;
  }
  footer .wrapper .footer-container .footer-adress-icon {
    width: 100%;
    padding: 0;
    margin-bottom: 1%;
  }
  footer .wrapper .footer-container .footer-adress-icon .icon-text-container {
    position: relative;
  }
  footer .wrapper .footer-container .footer-adress-icon .icon-text-container p {
    padding-left: 0;
  }
  footer .wrapper .footer-container .footer-adress-icon .icon-text-container .footer-icon {
    position: absolute;
    left: 2px;
  }
  footer .wrapper .footer-container .footer-contact {
    width: 100%;
    padding: 0;
    margin-bottom: 1%;
  }
  footer .wrapper .footer-container .footer-contact .icon-text-container {
    position: relative;
  }
  footer .wrapper .footer-container .footer-contact .icon-text-container p {
    padding-left: 0;
  }
  footer .wrapper .footer-container .footer-contact .icon-text-container .footer-icon {
    position: absolute;
  }
  footer .wrapper .footer-container .footer-contact .icon-text-container .footer-icon-email {
    position: absolute;
  }
  footer .wrapper .footer-container .footer-tripadvisor {
    display: block;
    width: 60%;
    padding: 0;
  }
  footer .wrapper .footer-container .footer-tripadvisor .inner-tripadvisor-review {
    width: 100%;
    height: auto;
  }
  footer .wrapper .footer-container .footer-tripadvisor .inner-tripadvisor-review p {
    font-size: 12px;
  }
  footer .wrapper .footer-container .footer-tripadvisor .inner-tripadvisor-review .button-tripadvisor {
    font-size: 10px;
  }
  .scroll {
    display: none;
  }
}
/*# sourceMappingURL=mediastyles.css.map */