// :root {
//     --main-gold-color: #fdb822;
//     --gold-fields-color: #c59d5f;
//   }

$fieldsGold: #c59d5f;
$bordersGold: #fdb822;
$circleBordersBrown: #684f40;
$textGrey: #525252;
$backgroundWhite: #eee;
$backgroundWhiteButtons: #e5f0f6;
$tripadvisorSeaColor: #00a680

